In [28]:
import pandas as pd
data = pd.read_csv('Coffee_company.csv')
print(data)
data.columns = data.columns.str.strip()
data.head()

             Segment                   Country                Product   \
0          Beverages  United States of America                Robusta
1          Beverages               Switzerland                Robusta
2             Snacks                     Japan                Robusta
3             Snacks               Switzerland                Robusta
4             Snacks                   Belgium                Robusta
...              ...                       ...                     ...
1570    Frozen Foods                     Japan                Caturra
1571    Frozen Foods                   Belgium                Caturra
1572       Beverages                   Belgium                 Typica
1573       Beverages  United States of America   Blue Mountain Coffee
1574  Dairy Products                     China                Arabica

      Discount Band   Units Sold  Manufacturing Price   Sale Price   \
0              None      2427.75                $3.90       $26.00
1              None      1981.50                $3.90       $26.00
2              None      3267.00                $3.90       $19.50
3              None      1332.00                $3.90       $19.50
4              None      3705.00                $3.90       $19.50
...              ...         ...                   ...          ...
1570           High      5197.50              $574.60      $663.00
1571           High      1146.60              $574.60      $663.00
1572           High      2872.80               $11.05       $15.47
1573           High      1518.30               $22.10       $15.47
1574           High      3792.60              $552.50       $26.52

         Gross Sales      Discounts            Sales             COGS   \
0         $42,081.00           $-         $42,081.00       $21,040.50
1         $34,346.00           $-         $34,346.00       $17,173.00
2         $42,471.00           $-         $42,471.00       $28,314.00
3         $17,316.00           $-         $17,316.00       $11,544.00
4         $48,165.00           $-         $48,165.00       $32,110.00
...               ...            ...              ...              ...
1570   $1,640,925.00    $246,138.75    $1,394,786.25    $1,367,437.50
1571     $361,998.00     $54,299.70      $307,698.30      $301,665.00
1572      $21,162.96      $3,174.44       $17,988.52       $15,116.40
1573      $11,184.81      $1,677.72        $9,507.09        $7,989.15
1574      $47,895.12      $7,184.27       $40,710.85       $11,973.78

           Profit         Date  Month Number  Month Name   Year
0      $16,185.00   01/01/2021             1     January   2021
1      $13,210.00   01/01/2021             1     January   2021
2      $10,890.00   01/06/2021             6        June   2021
3       $4,440.00   01/06/2021             6        June   2021
4      $12,350.00   01/06/2021             6        June   2021
...            ...         ...           ...          ...   ...
1570   $21,037.50   01/03/2023             3       March   2023
1571    $4,641.00   01/10/2023            10     October   2023
1572    $2,209.32   01/02/2023             2    February   2023
1573    $1,167.65   01/04/2023             4       April   2023
1574   $22,105.44   01/05/2023             5         May   2023

[1575 rows x 16 columns]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Beverages,United States of America,Robusta,None,2427.75,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021
1,Beverages,Switzerland,Robusta,None,1981.50,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021
2,Snacks,Japan,Robusta,None,3267.00,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021
3,Snacks,Switzerland,Robusta,None,1332.00,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021
4,Snacks,Belgium,Robusta,None,3705.00,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021

In [29]:
data['Units sold']= data['Units Sold'].astype(int)
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Units sold
0,Beverages,United States of America,Robusta,None,2427.75,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021,2427
1,Beverages,Switzerland,Robusta,None,1981.50,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021,1981
2,Snacks,Japan,Robusta,None,3267.00,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021,3267
3,Snacks,Switzerland,Robusta,None,1332.00,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021,1332
4,Snacks,Belgium,Robusta,None,3705.00,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021,3705

In [30]:
print(data.columns)
data.rename(columns={'Month Name':'Month'}, inplace = True)
data.head()

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name', 'Year',
       'Units sold'],
      dtype='object')

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month,Year,Units sold
0,Beverages,United States of America,Robusta,None,2427.75,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021,2427
1,Beverages,Switzerland,Robusta,None,1981.50,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021,1981
2,Snacks,Japan,Robusta,None,3267.00,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021,3267
3,Snacks,Switzerland,Robusta,None,1332.00,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021,1332
4,Snacks,Belgium,Robusta,None,3705.00,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021,3705

In [31]:
data['Sales'] = data['Sales'].astype(str).str.replace(',', '', regex=False).str.replace('$', '', regex=False)

# Convert to numeric (handling errors by coercing invalid values to NaN)
data['Sales'] = pd.to_numeric(data['Sales'], errors='coerce')

# Print first 5 rows for verification
print(data.head())

# Calculate and print total sales
total_sales = data['Sales'].sum()
print("Total Sales: $", total_sales)

     Segment                   Country    Product Discount Band  Units Sold  \
0  Beverages  United States of America   Robusta          None      2427.75
1  Beverages               Switzerland   Robusta          None      1981.50
2     Snacks                     Japan   Robusta          None      3267.00
3     Snacks               Switzerland   Robusta          None      1332.00
4     Snacks                   Belgium   Robusta          None      3705.00

  Manufacturing Price Sale Price   Gross Sales Discounts    Sales  \
0              $3.90     $26.00    $42,081.00      $-     42081.0
1              $3.90     $26.00    $34,346.00      $-     34346.0
2              $3.90     $19.50    $42,471.00      $-     42471.0
3              $3.90     $19.50    $17,316.00      $-     17316.0
4              $3.90     $19.50    $48,165.00      $-     48165.0

           COGS        Profit        Date  Month Number      Month  Year  \
0   $21,040.50    $16,185.00   01/01/2021             1   January   2021
1   $17,173.00    $13,210.00   01/01/2021             1   January   2021
2   $28,314.00    $10,890.00   01/06/2021             6      June   2021
3   $11,544.00     $4,440.00   01/06/2021             6      June   2021
4   $32,110.00    $12,350.00   01/06/2021             6      June   2021

   Units sold
0        2427
1        1981
2        3267
3        1332
4        3705
Total Sales: $ 408015039.62999994